@model _2022_2C_I_LicenciaMedica.Models.Usuario
@{
}

<html>
<head>
</head>

<body>
    <form id="loginForm" method="post" asp-action="Registrar">
        <div class="modal-body">
            <div class="mb-3">
                <label asp-for="NombreUsuario" class="form-label">Usuario</label>
                <input asp-for="NombreUsuario" class="form-control" id="usuarioLogin" placeholder="Usuario">
                <span asp-validation-for="NombreUsuario" class="text-danger"></span> @*error*@
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Contraseña</label>
                <input asp-for="Password" class="form-control" type="password" id="contraseniaLogin" placeholder="Contraseña">
                <span asp-validation-for="Password" class="text-danger"></span> @*error*@
            </div>
            <div class="mb-3">
                <label asp-for="Nombre" class="form-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" id="nombreLogin" placeholder="Nombre">
                <span asp-validation-for="Nombre" class="text-danger"></span> @*error*@
            </div>
            <div class="mb-3">
                <label asp-for="Apellido" class="form-label">Apellido</label>
                <input asp-for="Apellido" class="form-control" id="apellidoLogin" placeholder="Apellido">
                <span asp-validation-for="Apellido" class="text-danger"></span> @*error*@
            </div>
            <div class="mb-3">
                <label asp-for="DNI" class="form-label">DNI</label>
                <input asp-for="DNI" class="form-control" id="dniLogin" placeholder="DNI">
                <span asp-validation-for="DNI" class="text-danger"></span> @*error*@
            </div>
            <div class="mb-3">
                <label asp-for="Telefono" class="form-label">Telefono</label>
                <input asp-for="Telefono" type="tel" class="form-control" id="stelefonoLogin" placeholder="Telefono">
                <span asp-validation-for="Telefono" class="text-danger"></span> @*error*@
            </div>
            <div class="mb-3">
                <label asp-for="Direccion" class="form-label">Direccion</label>
                <input asp-for="Direccion" type="text" class="form-control" id="direccionLogin" placeholder="Direccion">
                <span asp-validation-for="Direccion" class="text-danger"></span> @*error*@
            </div>
            <!--
            <div class="mb-3">
                <label asp-for="FechaAlta" class="form-label">Fecha Alta</label>
                <input asp-for="FechaAlta" class="form-control" id="fechaAltaLogin" placeholder="Fecha Alta">

            </div>
            -->
            <div class="mb-3">
                <label asp-for="EMail" class="form-label">Email</label>
                <input asp-for="EMail" class="form-control" id="mailLogin" placeholder="Email">
                <span asp-validation-for="EMail" class="text-danger"></span> @*error*@
            </div>

            <select asp-for="Rol" id="SectorId" name="Rol" class="form-select">
                <option value="empleado">Empleado</option>
                <option value="rrhh">RRHH</option>
                <option value="medico">Medico</option>
            </select>

            <div class="modal-footer">
                <button type="submit" title="Crear usuario" class="btn btn-dark form-control">Registrate</button>
            </div>
        </div>
    </form>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>

</body>

</html>

